@import url("https://fonts.googleapis.com/css?family=Lato:200,300,400,700,900&display=swap");
.text-center {
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: #171513;
  text-decoration: none;
}

a, a:hover, a:active, a:focus {
  color: #171513;
}

ul,
ol {
  list-style: none;
}

nav {
  background: #171513;
  color: #ffffff;
}

section {
  padding: 8rem 0;
  color: #7e716e;
}

footer {
  padding: 3rem 0;
  background: #171513;
  color: #afa5a3;
  font-size: 1.3rem;
}

@media (max-width: 57.6rem) {
  footer {
    text-align: center;
  }
}

footer a {
  color: #afa5a3;
  padding: .5rem;
}

footer a:hover {
  color: #afa5a3;
}

footer .right-box .social-links {
  text-align: right;
}

@media (max-width: 57.6rem) {
  footer .right-box .social-links {
    text-align: center;
    margin-top: 3rem;
  }
}

footer .right-box i {
  font-size: 1.3rem;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
}

.heading-m {
  font-size: 2.5rem;
  font-weight: 500;
  color: #635856;
}

.heading-l {
  font-size: 3.5rem;
  font-weight: 500;
}

@media screen and (max-width: -1rem) {
  .hidden-xs-down {
    display: none !important;
  }
}

.hidden-xs-up {
  display: none !important;
}

@media screen and (max-width: 56.6rem) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media screen and (min-width: 57.6rem) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media screen and (max-width: 75.8rem) {
  .hidden-md-down {
    display: none !important;
  }
}

@media screen and (min-width: 76.8rem) {
  .hidden-md-up {
    display: none !important;
  }
}

@media screen and (max-width: 98.2rem) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media screen and (min-width: 99.2rem) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media screen and (max-width: 119rem) {
  .hidden-xl-down {
    display: none !important;
  }
}

@media screen and (min-width: 120rem) {
  .hidden-xl-up {
    display: none !important;
  }
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.container--fluid {
  margin: 0;
  max-width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.col-offset-0 {
  margin-left: 0;
}

.col-1 {
  -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%;
}

.col-offset-1 {
  margin-left: 8.33333%;
}

.col-2 {
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
}

.col-offset-2 {
  margin-left: 16.66667%;
}

.col-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-4 {
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
}

.col-offset-4 {
  margin-left: 33.33333%;
}

.col-5 {
  -ms-flex-preferred-size: 41.66667%;
      flex-basis: 41.66667%;
}

.col-offset-5 {
  margin-left: 41.66667%;
}

.col-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-7 {
  -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%;
}

.col-offset-7 {
  margin-left: 58.33333%;
}

.col-8 {
  -ms-flex-preferred-size: 66.66667%;
      flex-basis: 66.66667%;
}

.col-offset-8 {
  margin-left: 66.66667%;
}

.col-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-10 {
  -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%;
}

.col-offset-10 {
  margin-left: 83.33333%;
}

.col-11 {
  -ms-flex-preferred-size: 91.66667%;
      flex-basis: 91.66667%;
}

.col-offset-11 {
  margin-left: 91.66667%;
}

.col-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.col-offset-12 {
  margin-left: 100%;
}

@media screen and (min-width: 57.6rem) {
  .col-sm-offset-0 {
    margin-left: 0;
  }
  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 76.8rem) {
  .col-md-offset-0 {
    margin-left: 0;
  }
  .col-md-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .col-md-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
  }
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .col-md-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
  }
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .col-md-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
  }
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .col-md-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
  }
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 99.2rem) {
  .col-lg-offset-0 {
    margin-left: 0;
  }
  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .col-lg-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .col-lg-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .col-lg-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .col-lg-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 120rem) {
  .col-xl-offset-0 {
    margin-left: 0;
  }
  .col-xl-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
  }
  .col-xl-offset-1 {
    margin-left: 8.33333%;
  }
  .col-xl-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
  }
  .col-xl-offset-2 {
    margin-left: 16.66667%;
  }
  .col-xl-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .col-xl-offset-3 {
    margin-left: 25%;
  }
  .col-xl-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
  .col-xl-offset-4 {
    margin-left: 33.33333%;
  }
  .col-xl-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
  }
  .col-xl-offset-5 {
    margin-left: 41.66667%;
  }
  .col-xl-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .col-xl-offset-6 {
    margin-left: 50%;
  }
  .col-xl-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
  }
  .col-xl-offset-7 {
    margin-left: 58.33333%;
  }
  .col-xl-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
  }
  .col-xl-offset-8 {
    margin-left: 66.66667%;
  }
  .col-xl-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .col-xl-offset-9 {
    margin-left: 75%;
  }
  .col-xl-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
  }
  .col-xl-offset-10 {
    margin-left: 83.33333%;
  }
  .col-xl-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
  }
  .col-xl-offset-11 {
    margin-left: 91.66667%;
  }
  .col-xl-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .col-xl-offset-12 {
    margin-left: 100%;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .fa-bars {
  display: none;
  font-size: 2rem;
  font-weight: 400;
  cursor: pointer;
}

@media (max-width: 57.6rem) {
  .navbar .fa-bars {
    display: block;
  }
}

.navbar--logo {
  width: 20rem;
  padding: 2.8rem;
}

@media (max-width: 57.6rem) {
  .navbar--logo {
    width: auto;
    padding: 0;
  }
}

.navbar--logo span {
  font-weight: 300;
  color: #ee3b00;
}

.navbar .right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 57.6rem) {
  .navbar--menu {
    position: fixed;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background: #171513;
    left: 0;
    right: 0;
    z-index: 99;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.5s cubic-bezier(0.83, 0.07, 0.21, 1.01);
    -o-transition: all 0.5s cubic-bezier(0.83, 0.07, 0.21, 1.01);
    transition: all 0.5s cubic-bezier(0.83, 0.07, 0.21, 1.01);
  }
}

.navbar--menu.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.navbar--menu--link {
  display: inline-block;
  padding: 2.8rem;
  color: #afa5a3;
}

@media (max-width: 57.6rem) {
  .navbar--menu--link {
    display: block;
    text-align: center;
  }
}

.navbar--menu--link:hover, .navbar--menu--link:focus {
  color: #ffffff;
}

.navbar--menu--link.Active {
  color: #ffffff;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.btn--primary {
  background: #ee3b00;
  color: #ffffff;
}

.btn--primary, .btn--primary:hover, .btn--primary:active, .btn--primary:focus {
  color: #ffffff;
}

.btn.get-in-touch-btn {
  padding: .9rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 57.6rem) {
  .btn.get-in-touch-btn {
    padding: 0;
    background: none;
  }
}

@media (max-width: 57.6rem) {
  .btn.get-in-touch-btn span {
    display: none;
  }
}

.btn.get-in-touch-btn img {
  height: 1.6rem;
  margin-right: .6rem;
  margin-top: .5rem;
}

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #3333;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7))), url(../img/heroimg.jpg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7)), url(../img/heroimg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url(../img/heroimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
}

.header--content {
  max-width: 59rem;
  position: relative;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -35%);
      -ms-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);
}

.header--content h4 {
  padding: 4rem;
  font-size: 4rem;
  font-weight: 500;
}

@media (max-width: 57.6rem) {
  .header--content h4 {
    padding-top: 0;
    font-size: 3rem;
  }
}

.header .content--items {
  padding: 4rem 0;
  border: 0.1rem solid #635856;
  border-radius: .5rem;
  margin: 1rem;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 57.6rem) {
  .header .content--items {
    padding: 1rem 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0.5rem 1.5rem;
  }
}

@media (max-width: 57.6rem) {
  .header .content--items img {
    height: 3rem;
  }
}

.header .content--items h5 {
  margin-top: 2rem;
}

@media (max-width: 57.6rem) {
  .header .content--items h5 {
    margin-top: 0;
    margin-left: 1.5rem;
  }
}

.testimoni-slider .testimoni {
  margin: 2rem;
}

.testimoni-slider .testimoni-text {
  position: relative;
  -webkit-box-shadow: 0.2rem 0.2rem 0.2rem #afa5a369;
          box-shadow: 0.2rem 0.2rem 0.2rem #afa5a369;
  border-radius: 1rem;
  padding: 4rem;
  background: #ffffff;
}

.testimoni-slider .testimoni-text::before {
  content: '';
  position: absolute;
  height: 3rem;
  width: 4rem;
  background: #ffffff;
  -webkit-box-shadow: 2px 0.2rem 0.1rem #afa5a345;
          box-shadow: 2px 0.2rem 0.1rem #afa5a345;
  bottom: -1.4rem;
  -webkit-transform: rotate(36deg);
      -ms-transform: rotate(36deg);
          transform: rotate(36deg);
}

.testimoni-slider .testimoni i {
  color: #ee3b00;
}

.testimoni-slider .testimoni-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
}

.testimoni-slider .testimoni-person .icon {
  height: 6rem;
  margin-right: 1.2rem;
}

.testimoni-slider .testimoni-person h5 {
  margin-top: 1rem;
}

.testimoni-slider .testimoni-person h6 {
  margin-top: .5rem;
}

.section-1 h4 {
  margin-bottom: 2.5rem;
}

.section-1 img {
  width: 100%;
}

.section-2 {
  background: #f7f7f7;
}

.section-2 h4 {
  margin-bottom: 2rem;
}

.section-3 {
  position: relative;
  width: 100%;
  background: #3333;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7))), url(../img/contactbg.png);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7)), url(../img/contactbg.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url(../img/contactbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
}

.section-3 .contact-info {
  max-width: 80rem;
  position: relative;
  margin: 0 auto;
}

.section-3 h4 {
  color: #ffffff;
  margin-bottom: 2rem;
}

@media (max-width: 57.6rem) {
  .section-3 h4 {
    padding: 0 2rem;
  }
}

.section-3 h5 {
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}

.section-3 form {
  margin-top: 3.6rem;
}

.section-3 form input {
  width: 100%;
  height: 3.6rem;
  margin-right: 1rem;
  text-indent: 1rem;
  border-radius: .5rem;
}

@media (max-width: 57.6rem) {
  .section-3 form input {
    margin-bottom: 1rem;
  }
}

.section-3 form textarea {
  width: 100%;
  margin-top: 2rem;
  text-indent: 1rem;
  border-radius: 1rem;
  padding: 1rem;
}

@media (max-width: 57.6rem) {
  .section-3 form textarea {
    margin-top: 0;
  }
}

.section-3 form .input-group:not(:last-child) {
  padding-right: 2rem;
}

@media (max-width: 57.6rem) {
  .section-3 form .input-group:not(:last-child) {
    padding: 0;
  }
}

.section-3 form button {
  display: block;
  border: none;
  outline: none;
  font-size: 1.6rem;
  padding-left: 3rem;
  padding-right: 3rem;
  cursor: pointer;
  position: relative;
  margin: 2rem auto 0;
}
/*# sourceMappingURL=main.css.map */